

      <h3 class="text-muted"> Orders</h3>
      <p> <h5 class="text-muted">    {{user.username}} {{user.userotigin}}<h6></p>

      <div class="panel panel-primary">
        <h4 class="text-muted"> Order</h4>
      <button type="more" class="btn btn-info">Learn more</button>
      </div>
      <div class="panel panel-success">
        <h4 class="text-muted"> Order</h4>
        <button type="more" class="btn btn-warning">Learn more</button>
      </div>
      <div class="panel panel-info">
        <h4 class="text-muted"> Order</h4>
        <button type="more" class="btn btn-danger">Learn more</button>
      </div>
      <div class="panel panel-warning">
        <h4 class="text-muted"> Order</h4>
        <button type="more" class="btn btn-primary">Learn more</button>
      </div>
      <div class="panel panel-danger">
        <h4 class="text-muted"> Order</h4>
        <button type="more" class="btn btn-warning">Learn more</button>
      </div>
